TEXTAREA,INPUT,PRE,BODY{
	font-family:Fixedsys,System,Terminal,Courier;monospace;border:0;
	font-size:12px;
	color:#a0a1fe;background-color:#4040e0;}
A{	color:#a0a1fe;text-decoration:none;}
A:hover{background-color:#a0a1fe;color:#4040e0;}