/* Firefox style for QDFS V0.7, hacked on 07/01/2006 */

BODY{margin:10;}

A,TEXTAREA,INPUT,PRE,BODY,TD{
	font-family:Fixedsys,System,Terminal,Courier,monospace;border:0;font-size:12px;text-decoration:none;color:white;
}

INPUT,PRE,BODY,TEXTAREA{
	background:#7D7D7D url("http://www.owlnet.rice.edu/~wrprice/FirefoxLuminosity/FirefoxLuminosityBlue-1280x960-firefox.jpg") top left repeat-x;
	background:#7D7D7D fixed url("http://www.owlnet.rice.edu/~wrprice/FirefoxLuminosity/FirefoxLuminosityBlue-1280x960-firefox.jpg") top left repeat-x;
}


A:hover{background-color:#FFFFFF;color:#555555;}