/* http://project2612.org/ style for QDFS V0.7, hacked on 07/12/2005 */

A,TEXTAREA,INPUT,PRE,BODY{
	font-family:Fixedsys,System,Terminal,Courier,monospace;border:0;font-size:12px;text-decoration:none;color:#00FF00;background-color:black;
	background:fixed url("http://project2612.org/blahdocs/template/Project2612/bg_grid.gif");
}

A:hover{background-color:#00FF00;color:red;}


