/* Micromusic.net qdfs style */
textarea,input,pre,body
{
	font-family:Fixedsys,System,Terminal,Courier;monospace;
	border:0;
	font-size:16px;
	color:#00FF00;
	background-color:#000000;
}

a{	color:#00FF00;
	text-decoration:none;
}

a:hover{
	background-color:#00FF00;
	color:#000000;
}