PRE,BODY{font-family:Fixedsys;courier;font-size:12px;text-decoration:none;color:#00CC00;background-color:#006600;}
INPUT{font-family:Fixedsys;courier;font-weight:;font-size:14px;text-decoration:none;color:#00CC00;background-color:#006600;border:0;}
A{font-family:Fixedsys;courier;font-weight:;font-size:12px;text-decoration:none;color:#00CC00;background-color:#006600;}
A:hover {color:#006600;background-color:#00CC00;}
